[run]
source = o2
omit = 
    */tests/*
    o2/util/colored_formatter.py
    o2/util/logger.py
    o2/util/solution_dumper.py
    /tmp/*
    */tmp/*
    */_remote_module_non_scriptable.py

[report]
exclude_also =
    def __str__\(self\).*
    if not Settings.DISABLE_PARALLEL_EVALUATION
    if Settings.DUMP_DISCARDED_SOLUTIONS
    if TYPE_CHECKING
    def get_[a-zA-Z0-9_]*_label
    def step(self,
    def render(self,